:root {
    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB;
    --green: #82BC4F;
    --yellow: #EABD5F;

    --gray-100: #E2E4E9;
    --gray-200: #C0C4CE;
    --gray-300: #878EA1;
    --gray-400: #292C34;
    --gray-500: #16181D;
    --gray-600: #0D0E11;

    --font-family-asap: 'Asap', sans-serif;
    --font-family-inconsolata: 'Inconsolata', sans-serif;
    --font-family-maven: 'Maven Pro', sans-serif;

    --title-lg: 700 56px/120% var(--font-family-asap);
    --title-md: 700 24px/120% var(--font-family-asap);
    --title-sm: 700 16px/120% var(--font-family-asap);

    --subtitle: 400 20px/120% var(--font-family-inconsolata);

    --text-md-maven: 400 16px/140% var(--font-family-maven);
    --text-sm-maven: 500 14px/140% var(--font-family-maven);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
  max-width: 1366px;
  margin-inline: auto;
  padding-inline: 24px;
}

body {
  background-color: var(--gray-500);
  text-align: center;

}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    color: var(--gray-100);
    font: var(--title-lg);
    margin-bottom: 8px;
}

h2 {
    color: var(--gray-200);
    font: var(--subtitle);
    margin-bottom: 20px;
}

p {
    color: var(--gray-300);
    font: var(--text-sm-maven);
    margin-bottom: 80px;
}