header {
    background-image: url(../assets/Background_Intro.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
}

#intro {
    display: flex;
    align-items: center;
    gap: 32px;
    padding-top: 120px;
}