header {
    background-image: url(../assets/Background_Intro.png);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 750px;
}

.intro {
    padding-top: 120px;
    max-width: 1040px;
    margin-inline: auto;
}

.inner-intro-container {
    margin-inline: auto;
}

.avatar {
    position: relative;
    margin: 8px;
    margin-bottom: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .tags {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 16px;
    .tag {
    padding: 8px 16px;
    font: var(--text-md-maven);
    background-color: var(--gray-400);
    color: var(--gray-200);
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    gap: 8px; }
    img {
        height: 24px;
    }
}

.caret-down {
    padding-top: 94px;
    padding-bottom: 57px;
    color: var(--gray-300);
    img {
        width: 32px;
    }
}

p {
    font: var(--text-sm-maven);
    color: var(--gray-300);
    margin-bottom: 80px;
}



