/* ================= MY WORK ================= */

#my-work {
  padding: 72px 24px 144px 24px;
}

#my-work #works {
  padding-top: 56px;
  margin-inline: auto;
  max-width: 1040px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
}

#my-work .card {
  text-align: left;
  background-color: var(--gray-400);
  padding: 12px 12px 17px;
  border-radius: 12px;
  border: 1.5px solid var(--gray-400);
}

#my-work .card:hover {
  border: 1.5px solid var(--gray-300);
  cursor: pointer;
}

#my-work .card img {
  width: 100%;
  border-radius: 8px;
}

#my-work .card h4 {
  padding: 24px 0 8px;
}

#my-work .card p {
  color: var(--gray-200);
  margin: 0;
}


/* ================= MY SERVICES ================= */

#my-services {
  background-color: var(--gray-600);
  padding: 88px 24px 120px;
}

#my-services #services {
  margin-inline: auto;
  padding-top: 56px;
  max-width: 888px;

  display: flex;
  justify-content: center;
  gap: 24px;
}

#my-services .card {
   background-color: var(--gray-600);
  border: 2px solid var(--gray-400);
  padding: 20px;
  border-radius: 12px;
  text-align: left;
  width: 280px;
  
}

#my-services .card img {
  padding-bottom: 20px;
  max-width: 48px;
}

#contact {
  padding-top: 128px;
  background-image: url(../assets/Background_Contacts.png);
  height: 787px;
  background-repeat: no-repeat;
  background-size: contain;
}

#contact #buttons {
  max-width: 400px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* botão */
#contact #buttons .button {
  width: 400px;
  height: 68px;

  padding: 0 20px;
  background-color: var(--gray-400);
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1.5px solid var(--gray-400);
  box-sizing: border-box;
  text-decoration: none;
}

/* conteúdo interno do botão (ícone + texto) */
#contact #buttons .button > span {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--gray-300);
}

/* opcional: hover bonito */
#contact #buttons .button:hover {
  border-color: var(--purple);
  background-color: var(--gray-500);
}


